<h2>Categories</h2>

<% @categories.each do |category| %>
  <div class="card card-category">
    <div class='card-info'>
      <p class="category-icon"><%= category.icon %></p>
      <p><%= link_to category.name, home_show_path(category.id) %></p>
    </div>
    <p>$<%= category.entities.sum(:amount) %></p>
  </div>
<% end %>

<%= link_to 'Add A New Category', home_new_path %>
